* {
    font-family: 'Roboto', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

#content {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    align-items: flex-start;
    justify-content: flex-start;
}

.page-selector {
    margin-top: 60px;
}
#select-combination-type {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: top;
    width: 100%;
    height: calc(100% - 60px);
    padding: 0 20px;
    box-sizing: border-box;
    position: absolute;
    top: 60px;
}

#select-combination-type > h1 {
    margin-top: 20px;
    margin-bottom: 40px;
    width: 100%;
    text-align: center;
}

.svg-circle-1 {
    animation: move_circle 1.25s infinite ease-in-out alternate;
}

.svg-circle-2 {
    animation: move_circle 1.25s infinite ease-in-out alternate;
    animation-delay: 0.15s;
}

.svg-circle-3 {
    animation: move_circle 1.25s infinite ease-in-out alternate;
    animation-delay: 0.25s;
}

@keyframes move_circle {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(120px);
    }
}
.MathJax {
    font-size: 16pt !important;
    display: flex !important;
}
    