* {
    font-family: 'Roboto', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

#content {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    align-items: flex-start;
    justify-content: flex-start;
}

.page-selector {
    margin-top: 60px;
}