* {
    font-family: 'Roboto', sans-serif;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #1C3879;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 42pt;
    color: #fff;
    font-weight: bolder;
    user-select: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: calc(50% / 2);
}

#to-graph {
    cursor: pointer;
    width: 200px;
    height: 50px;
    background-color: #EAE3D2;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: rgb(10, 10, 10);
    font-weight: bolder;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    transition: all .5s ease;
    background-color : transparent;
    color: #fff;
    border: 3px solid white;
}

#to-graph:hover {
    color: #001F3F;
    background-color: #fff;
}

/* Change h1 font size depending on screen size */
@media screen and (max-width: 600px) {
    h1 {
        font-size: 32pt;
    }
}

@media screen and (max-width: 400px) {
    h1 {
        font-size: 24pt;
    }
}

@media screen and (max-width: 300px) {
    h1 {
        font-size: 16pt;
    }
}