#top-nav-bar {
    background-color: #607EAA;

    height: 60px;
    width: 100%;
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    
    border-bottom: 3px solid #1C3879;
    padding: 0 16px;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.top-nav-bar-item {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-width: 200px;
    min-width: 150px;
    flex: 1;
    position: relative;
}

.top-nav-bar-item + .top-nav-bar-item {
    margin-left: 32px;
}

.nav-bar-item-title {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    user-select: none;
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: 0.25s;
}

.nav-bar-item-title:hover {
    transition: 0.25s;
    background-color: rgba(28, 56, 121, 0.25);
}

.nav-bar-item-option-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: calc(100% + 3px);
    left: 0;
    background-color: #fff;
    box-sizing: border-box;
    z-index: 0;
    width: 100%;
    margin: 0;
    list-style: none;
    border-radius: 4px;
    padding: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    overflow: hidden;
    transition: all 0.25s;

    opacity: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    outline: 1px solid rgba(28, 56, 121, 0.05);
}

.menu-visible {
    transition: all 0.25s;
    opacity: 1;
}

.item-option-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 8px;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
}

.item-option-list-item:hover {
    background-color: #f2f2f2;
}

#top-nav-bar-mobile {
    background-color: #607EAA;
    position: relative;

    height: 60px;
    width: 100%;
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    
    border-bottom: 3px solid #1C3879;
    padding: 0 16px;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

#desplegable-menu {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 60px;
    left: 0;
    display: flex;
    z-index: 50;
    background-color: #fff;
}

.desplegable-menu-visible {
    transition: all 0.25s;
    max-width: 35%;
}

.desplegable-menu-invisible {
    transition: all 0.25s;
    min-width: none;
    max-width: 0%;
}
#dimmer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 49;
}

.dimmer-visible {
    transition: all 0.25s;
    background-color: rgba(0, 0, 0, 0.5);
}

.dimmer-invisible {
    transition: all 0.25s;
    background-color: rgba(0, 0, 0, 0);
}
/* Hide top navbar when is on mobile */
@media screen and (max-width: 1090px) {
    #top-nav-bar {
        display: none;
    }
}

@media screen and (max-width: 496px) {
    .desplegable-menu-visible {
        transition: all 0.25s;
        max-width: 75%;
    }
}

/* Show top navbar when is on desktop */
@media screen and (min-width: 1090px) {
    #dimmer {
        background-color: rgba(0, 0, 0, 0);
    }

    #desplegable-menu {
        max-width: 0%;
    }
}