.page-selector-container {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: calc(100% - 120px);
    min-height: 60px;
}

.page-selector {
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.selector-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 0.05s;
    border-bottom: 0 solid transparent;
}

.selector-item:hover {
    transition: all 0.05s;
    color: #607EAA;
    background-color: #f5f5f5;
    border-bottom: 3px solid #607EAA;
}

.selector-item-selected {
    transition: all 0.05s;
    color: #607EAA;
    background-color: #fff;
    border-bottom: 3px solid #607EAA;
}

page {
    display: flex;
    transition: all 0.25s;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;

    opacity: 0;
    max-height: 0;
    transition: opacity 0.23s;
    max-width: 0;
    overflow: hidden;
}

.page-visible {
    transition: all 0.25s;
    transition: opacity 0.23s;
    max-width: 100%;
    max-height: 100%;
    opacity: 1;
    overflow: auto;
}

.page-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.page-content > .page-referencia {

}